name: Python Fast Build

on:
  push:
  schedule:
    - cron: "*/2 * * * *"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          cache: 'pip'     # ВАЖНО! Включает автоматическое кеширование pip

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run script
        run: python test.py

      - name: Print time
        run: date

